In [2]:
import pandas as pd

In [17]:
### groupby
df = pd.DataFrame([[1,"AA", 11, 100], [2,"BB", 12, "1A"], [3,"AA", 13, "C3"]], columns = ["col1", "col2", "col3", "col4"])

In [18]:
groups = df.groupby("col2")

In [19]:
#groupは集約関数やdescribe関数使用可能。数字型だけのカラムを集約
groups.sum()

      col1  col3
col2
AA       4    24
BB       2    12

In [21]:
#集約関数の性質として数字だけのカラム、文字列だけのカラムは集約可能。
#文字列と数字混在のカラムは出力されない
df.sum()

col1         6
col2    AABBAA
col3        36
dtype: object